<%- include("partials/header") %>

<div class="ui main text container segment">
    <div class="ui huge header"><%= task.title %></div>
    <div class="ui top attached">
        <div class="item">
            <div class="content">
                <span>
                    <%= task.created.toDateString() %>
                </span>
            </div>
            <div class="description">
                <p>
                    <%- task.body %>
                </p>
            </div>
            <a class="ui orange inverted button" href="/task/<%= task._id %>/edit">Edit</a>
            <form id="delete" action="/task/<%= task._id %>?_method=DELETE" method="POST">
                <button class="ui red inverted button">Delete</button>
            </form>
        </div>
    </div>
</div>

<%- include("partials/footer") %>